<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Browse Images</title>
    <link href="/images/favicon.ico" rel="shortcut icon">
    <link href="/stylesheets/bootstrap.min.css?1337892747" media="screen" rel="stylesheet" type="text/css" />
<link href="/stylesheets/style.css?1337892747" media="screen" rel="stylesheet" type="text/css" />
    <script src="/javascripts/jquery-1.7.js?1337892747" type="text/javascript"></script>
<script src="/javascripts/jquery-ui-1.8.16.min.js?1337892747" type="text/javascript"></script>
<script src="/javascripts/rails.js?1337892747" type="text/javascript"></script>
<script src="/javascripts/bootstrap-dropdown.js?1337892747" type="text/javascript"></script>
<script src="/javascripts/application.js?1337892747" type="text/javascript"></script>
<script src="/javascripts/jquery.galleriffic.js?1337892747" type="text/javascript"></script>
<script src="/javascripts/jquery.history.js?1337892747" type="text/javascript"></script>
<script src="/javascripts/jquery.opacityrollover.js?1337892747" type="text/javascript"></script>
    <script src="/javascripts/images.js?1337892747" type="text/javascript"></script>
<script src="/javascripts/jkmegamenu.js?1337892747" type="text/javascript"></script>
<script src="/javascripts/jquery-notes_1.0.8_min.js?1337892747" type="text/javascript"></script>
    <link href="/stylesheets/jkmegamenu.css?1337892747" media="screen" rel="stylesheet" type="text/css" />
<link href="/stylesheets/jquery.galleriffic.css?1337892747" media="screen" rel="stylesheet" type="text/css" />
<link href="/stylesheets/jquery.notes.css?1337892747" media="screen" rel="stylesheet" type="text/css" />
    <meta name="csrf-param" content="authenticity_token"/>
<meta name="csrf-token" content="eqMwTJeRK89xj2G+Q8Dt4IloDBfSzAmNvjNJuH4Lcc0="/>
  </head>
  <body class='images index'>
    <div class="container">
      <div class="welcome span12">
  <ul class="nav"><li class="dropdown">
    <a href="#" class="settings" data-toggle="dropdown">Anjali Saqi<b class="caret"></b></a>
    <ul class="dropdown-menu pull-right">
      <li><a href="/users/33/edit">User Settings</a></li>
      <li><a href="/users/sign_out">Sign out</a></li>
    </ul>
  </li></ul>
</div>
<div id="header">
  <div class="pull-left">
    <h1><span style="color:navy;">Cyto</span><span style="color:skyblue;">Site</span></h1>
  </div>
  <div class="pull-right">
    <div class="clearfix"></div>
    <div id="menu" class="pull-right  span5">
  <ul>
      <li id ="contact_link"><a>Contact Us</a></li>
    <li id ="assessment_link" class="mail_item">
      <a href="http://cytosite.com/assessments" class="main_link">Assessments</a>
    </li>
    <li id ="image_link" class="mail_item"><a href="http://cytosite.com/images" class="main_link">Images</a></li>
    <li id ="overview_link" class="mail_item"><a href="http://cytosite.com/overview" class="main_link">Overview</a></li>
    <li id ="home_link" class="mail_item"><a href="http://cytosite.com/" class="main_link">Home</a></li>
  </ul>
</div>
  </div>
  <div class="clearfix"></div>
</div>
      <div class="box">
        <div class="clearfix"></div>
        <div class="container">
          <div class="side_padded">
            
            <div>
  <h2>Browse Images</h2>
</div>
<div class="pull-left">
  <!--Mega Menu Anchor-->
<a href="http://cytosite.com/images" class="btn">All Categories</a>
<a href="#" id="megaanchor1" class="btn" style="margin-right: 5px;">Show Categories</a>
<div id="megamenu1" class="megamenu">
  <div class="column">
<div class="level0">
    <h3>
      <a href="http://cytosite.com/images?category_code=exfoliative" class="">Exfoliative</a>
    </h3>
      <ul>
        <li>
          <div class="column">
<div class="level1">
    <h3>
      <a href="http://cytosite.com/images?category_code=gyne" class="">Gynecological</a>
    </h3>
      <ul>
        <li>
          <div class="column">
<div class="level2">
    <h3>
      <a href="http://cytosite.com/images?category_code=neoplas" class="">(Pre)neoplastic</a>
    </h3>
      <ul>
        <li>
          <div class="column">
<div class="level3">
    <h3>
      <a href="http://cytosite.com/images?category_code=squamous" class="">Squamous</a>
    </h3>
  </div>
</div>
<div class="column">
<div class="level3">
    <h3>
      <a href="http://cytosite.com/images?category_code=glandular" class="">Glandular</a>
    </h3>
  </div>
</div>

        </li>
      </ul>
  </div>
</div>
<div class="column">
<div class="level2">
    <h3>
      <a href="http://cytosite.com/images?category_code=non_plastic" class="">Non neo-plastic</a>
    </h3>
  </div>
</div>

        </li>
      </ul>
  </div>
</div>
<div class="column">
<div class="level1">
    <h3>
      <a href="http://cytosite.com/images?category_code=non_gyne" class="">Non Gynecological</a>
    </h3>
      <ul>
        <li>
          <div class="column">
<div class="level2">
    <h3>
      <a href="http://cytosite.com/images?category_code=csf" class="">CSF</a>
    </h3>
  </div>
</div>
<div class="column">
<div class="level2">
    <h3>
      <a href="http://cytosite.com/images?category_code=fluids" class="">Fluids</a>
    </h3>
  </div>
</div>
<div class="column">
<div class="level2">
    <h3>
      <a href="http://cytosite.com/images?category_code=gastric" class="">Gastrointestinal</a>
    </h3>
  </div>
</div>
<div class="column">
<div class="level2">
    <h3>
      <a href="http://cytosite.com/images?category_code=respiratory" class="">Respiratory</a>
    </h3>
  </div>
</div>
<div class="column">
<div class="level2">
    <h3>
      <a href="http://cytosite.com/images?category_code=urine" class="">Urine</a>
    </h3>
  </div>
</div>
<div class="column">
<div class="level2">
    <h3>
      <a href="http://cytosite.com/images?category_code=non_gyne_other" class="">Oher</a>
    </h3>
  </div>
</div>

        </li>
      </ul>
  </div>
</div>

        </li>
      </ul>
  </div>
</div>
<div class="column">
<div class="level0">
    <h3>
      <a href="http://cytosite.com/images?category_code=needle" class="">Fine Needle Aspiration</a>
    </h3>
      <ul>
        <li>
          <div class="column">
<div class="level1">
    <h3>
      <a href="http://cytosite.com/images?category_code=adrenal" class="">Adrenal</a>
    </h3>
  </div>
</div>
<div class="column">
<div class="level1">
    <h3>
      <a href="http://cytosite.com/images?category_code=bone" class="">Bone &amp; Soft Tissue</a>
    </h3>
  </div>
</div>
<div class="column">
<div class="level1">
    <h3>
      <a href="http://cytosite.com/images?category_code=breast" class="">Breast</a>
    </h3>
  </div>
</div>
<div class="column">
<div class="level1">
    <h3>
      <a href="http://cytosite.com/images?category_code=needlegastric" class="">Gastrointestinal</a>
    </h3>
  </div>
</div>
<div class="column">
<div class="level1">
    <h3>
      <a href="http://cytosite.com/images?category_code=geni" class="">Genitourinary</a>
    </h3>
  </div>
</div>
<div class="column">
<div class="level1">
    <h3>
      <a href="http://cytosite.com/images?category_code=head_neck" class="">Head and neck</a>
    </h3>
  </div>
</div>
<div class="column">
<div class="level1">
    <h3>
      <a href="http://cytosite.com/images?category_code=hema" class="">Hematopoietic</a>
    </h3>
  </div>
</div>
<div class="column">
<div class="level1">
    <h3>
      <a href="http://cytosite.com/images?category_code=infections" class="">Infections</a>
    </h3>
  </div>
</div>
<div class="column">
<div class="level1">
    <h3>
      <a href="http://cytosite.com/images?category_code=liver" class="">Liver</a>
    </h3>
  </div>
</div>
<div class="column">
<div class="level1">
    <h3>
      <a href="http://cytosite.com/images?category_code=lung" class="">Lung/ Mediastinum</a>
    </h3>
  </div>
</div>
<div class="column">
<div class="level1">
    <h3>
      <a href="http://cytosite.com/images?category_code=pancreas" class="">Pancreas</a>
    </h3>
  </div>
</div>
<div class="column">
<div class="level1">
    <h3>
      <a href="http://cytosite.com/images?category_code=skin" class="">Skin</a>
    </h3>
  </div>
</div>
<div class="column">
<div class="level1">
    <h3>
      <a href="http://cytosite.com/images?category_code=thyroid" class="">Thyroid</a>
    </h3>
  </div>
</div>
<div class="column">
<div class="level1">
    <h3>
      <a href="http://cytosite.com/images?category_code=fna_other" class="">Other</a>
    </h3>
  </div>
</div>

        </li>
      </ul>
  </div>
</div>

</div>

</div>
<div class="clearfix"></div>

    <div class="navigation-container top">
    <div id="thumbs" class="navigation" style="opacity: 1;">
        <a class="pageLink prev" title="Previous Page" href="#" style="visibility: hidden; opacity: 0.67;"></a>
        <ul class="thumbs">
          <li class="selected" style="opacity: 1;">
    <a data-link="" class="thumb" name="optionalCustomIdentifier" href="https://s3.amazonaws.com/cytosite/31.jpg" rel="history" data-caption="{&quot;name&quot;:&quot;Actinomyces&quot;,&quot;descr&quot;:&quot;&quot;,&quot;category&quot;:&quot;Non neo-plastic&quot;,&quot;id&quot;:31}">
        <img alt="non_plastic image" height="75px" src="https://s3.amazonaws.com/cytosite/31_thumbnail.jpg" width="75px" />
    </a>
</li>
<li class="selected" style="opacity: 1;">
    <a data-link="" class="thumb" name="optionalCustomIdentifier" href="https://s3.amazonaws.com/cytosite/32.jpg" rel="history" data-caption="{&quot;name&quot;:&quot;Benign&quot;,&quot;descr&quot;:&quot;&quot;,&quot;category&quot;:&quot;Non neo-plastic&quot;,&quot;id&quot;:32}">
        <img alt="non_plastic image" height="75px" src="https://s3.amazonaws.com/cytosite/32_thumbnail.jpg" width="75px" />
    </a>
</li>
<li class="selected" style="opacity: 1;">
    <a data-link="" class="thumb" name="optionalCustomIdentifier" href="https://s3.amazonaws.com/cytosite/33.jpg" rel="history" data-caption="{&quot;name&quot;:&quot;Candida associated with atypical squamous cells&quot;,&quot;descr&quot;:&quot;&quot;,&quot;category&quot;:&quot;(Pre)neoplastic&quot;,&quot;id&quot;:33}">
        <img alt="neoplas image" height="75px" src="https://s3.amazonaws.com/cytosite/33_thumbnail.jpg" width="75px" />
    </a>
</li>
<li class="selected" style="opacity: 1;">
    <a data-link="" class="thumb" name="optionalCustomIdentifier" href="https://s3.amazonaws.com/cytosite/34.jpg" rel="history" data-caption="{&quot;name&quot;:&quot;Candida&quot;,&quot;descr&quot;:&quot;&quot;,&quot;category&quot;:&quot;Non neo-plastic&quot;,&quot;id&quot;:34}">
        <img alt="non_plastic image" height="75px" src="https://s3.amazonaws.com/cytosite/34_thumbnail.jpg" width="75px" />
    </a>
</li>
<li class="selected" style="opacity: 1;">
    <a data-link="" class="thumb" name="optionalCustomIdentifier" href="https://s3.amazonaws.com/cytosite/35.jpg" rel="history" data-caption="{&quot;name&quot;:&quot;Candida&quot;,&quot;descr&quot;:&quot;&quot;,&quot;category&quot;:&quot;Non neo-plastic&quot;,&quot;id&quot;:35}">
        <img alt="non_plastic image" height="75px" src="https://s3.amazonaws.com/cytosite/35_thumbnail.jpg" width="75px" />
    </a>
</li>
<li class="selected" style="opacity: 1;">
    <a data-link="" class="thumb" name="optionalCustomIdentifier" href="https://s3.amazonaws.com/cytosite/36.jpg" rel="history" data-caption="{&quot;name&quot;:&quot;Benign squamous cells&quot;,&quot;descr&quot;:&quot;&quot;,&quot;category&quot;:&quot;Non neo-plastic&quot;,&quot;id&quot;:36}">
        <img alt="non_plastic image" height="75px" src="https://s3.amazonaws.com/cytosite/36_thumbnail.jpg" width="75px" />
    </a>
</li>
<li class="selected" style="opacity: 1;">
    <a data-link="" class="thumb" name="optionalCustomIdentifier" href="https://s3.amazonaws.com/cytosite/37.jpg" rel="history" data-caption="{&quot;name&quot;:&quot;Benign cells with cytolysis&quot;,&quot;descr&quot;:&quot;&quot;,&quot;category&quot;:&quot;Non neo-plastic&quot;,&quot;id&quot;:37}">
        <img alt="non_plastic image" height="75px" src="https://s3.amazonaws.com/cytosite/37_thumbnail.jpg" width="75px" />
    </a>
</li>
<li class="selected" style="opacity: 1;">
    <a data-link="" class="thumb" name="optionalCustomIdentifier" href="https://s3.amazonaws.com/cytosite/38.jpg" rel="history" data-caption="{&quot;name&quot;:&quot;Benign endocervical cells&quot;,&quot;descr&quot;:&quot;&quot;,&quot;category&quot;:&quot;Non neo-plastic&quot;,&quot;id&quot;:38}">
        <img alt="non_plastic image" height="75px" src="https://s3.amazonaws.com/cytosite/38_thumbnail.jpg" width="75px" />
    </a>
</li>
<li class="selected" style="opacity: 1;">
    <a data-link="" class="thumb" name="optionalCustomIdentifier" href="https://s3.amazonaws.com/cytosite/39.jpg" rel="history" data-caption="{&quot;name&quot;:&quot;Benign endocervical cells&quot;,&quot;descr&quot;:&quot;&quot;,&quot;category&quot;:&quot;Exfoliative&quot;,&quot;id&quot;:39}">
        <img alt="exfoliative image" height="75px" src="https://s3.amazonaws.com/cytosite/39_thumbnail.jpg" width="75px" />
    </a>
</li>
<li class="selected" style="opacity: 1;">
    <a data-link="" class="thumb" name="optionalCustomIdentifier" href="https://s3.amazonaws.com/cytosite/46.jpg" rel="history" data-caption="{&quot;name&quot;:&quot;High grade squamous intraepithelial lesion (HSIL)&quot;,&quot;descr&quot;:&quot;&quot;,&quot;category&quot;:&quot;Squamous&quot;,&quot;id&quot;:46}">
        <img alt="squamous image" height="75px" src="https://s3.amazonaws.com/cytosite/46_thumbnail.jpg" width="75px" />
    </a>
</li>
<li class="selected" style="opacity: 1;">
    <a data-link="" class="thumb" name="optionalCustomIdentifier" href="https://s3.amazonaws.com/cytosite/47.jpg" rel="history" data-caption="{&quot;name&quot;:&quot;High grade squamous intraepithelial lesion (HSIL)&quot;,&quot;descr&quot;:&quot;&quot;,&quot;category&quot;:&quot;Squamous&quot;,&quot;id&quot;:47}">
        <img alt="squamous image" height="75px" src="https://s3.amazonaws.com/cytosite/47_thumbnail.jpg" width="75px" />
    </a>
</li>
<li class="selected" style="opacity: 1;">
    <a data-link="" class="thumb" name="optionalCustomIdentifier" href="https://s3.amazonaws.com/cytosite/48.jpg" rel="history" data-caption="{&quot;name&quot;:&quot;Squamous cells (glycogen)&quot;,&quot;descr&quot;:&quot;&quot;,&quot;category&quot;:&quot;Non neo-plastic&quot;,&quot;id&quot;:48}">
        <img alt="non_plastic image" height="75px" src="https://s3.amazonaws.com/cytosite/48_thumbnail.jpg" width="75px" />
    </a>
</li>
<li class="selected" style="opacity: 1;">
    <a data-link="" class="thumb" name="optionalCustomIdentifier" href="https://s3.amazonaws.com/cytosite/49.jpg" rel="history" data-caption="{&quot;name&quot;:&quot;High-grade squamous intraepithelial lesion (HSIL)&quot;,&quot;descr&quot;:&quot;&quot;,&quot;category&quot;:&quot;Squamous&quot;,&quot;id&quot;:49}">
        <img alt="squamous image" height="75px" src="https://s3.amazonaws.com/cytosite/49_thumbnail.jpg" width="75px" />
    </a>
</li>
<li class="selected" style="opacity: 1;">
    <a data-link="" class="thumb" name="optionalCustomIdentifier" href="https://s3.amazonaws.com/cytosite/50.jpg" rel="history" data-caption="{&quot;name&quot;:&quot;Atypical squamous cells cannot exclude high grade squamous intraeithelial lesion (ASC-H)&quot;,&quot;descr&quot;:&quot;&quot;,&quot;category&quot;:&quot;Squamous&quot;,&quot;id&quot;:50}">
        <img alt="squamous image" height="75px" src="https://s3.amazonaws.com/cytosite/50_thumbnail.jpg" width="75px" />
    </a>
</li>
<li class="selected" style="opacity: 1;">
    <a data-link="" class="thumb" name="optionalCustomIdentifier" href="https://s3.amazonaws.com/cytosite/51.jpg" rel="history" data-caption="{&quot;name&quot;:&quot;Adenocarcinoma&quot;,&quot;descr&quot;:&quot;Bronchoalveolar lavage&quot;,&quot;category&quot;:&quot;Respiratory&quot;,&quot;id&quot;:51}">
        <img alt="respiratory image" height="75px" src="https://s3.amazonaws.com/cytosite/51_thumbnail.jpg" width="75px" />
    </a>
</li>

        </ul>
        <a class="pageLink next" title="Next Page" href="#" style="visibility: visible; opacity: 0.67;"></a>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="content">
    <div id="caption_image" class="caption-container">
      <div>
        <div>
          Name: <span class="image-title" id="image-name">Actinomyces</span>
        </div>
        <div>
          Description: <span class="image-title" id="image-descr"></span>
        </div>
        <div>
          Category: <span class="image-title" id="image-cat">Non neo-plastic</span>
        </div>
      </div>
    </div>
    <div class="slideshow-container">
      <div id="loading" class="loader"></div>
      <div id="slideshow" class="slideshow"></div>
    </div>
  </div>
  <input type="hidden" id="image_id" value="31" />
<input type="hidden" id="editAllowed" value="false" />
          </div>
        </div>
      </div>
      <div id="footer">
  <span>Copyright © 2010 Re-used with the permission of<strong> XYZ</strong>. All rights reserved.</span>
</div>
    </div>
  </body>
</html>
