<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Overview</title>
    <link href="/images/favicon.ico" rel="shortcut icon">
    <link href="/stylesheets/bootstrap.min.css?1337892747" media="screen" rel="stylesheet" type="text/css" />
<link href="/stylesheets/style.css?1337892747" media="screen" rel="stylesheet" type="text/css" />
    <script src="/javascripts/jquery-1.7.js?1337892747" type="text/javascript"></script>
<script src="/javascripts/jquery-ui-1.8.16.min.js?1337892747" type="text/javascript"></script>
<script src="/javascripts/rails.js?1337892747" type="text/javascript"></script>
<script src="/javascripts/bootstrap-dropdown.js?1337892747" type="text/javascript"></script>
<script src="/javascripts/application.js?1337892747" type="text/javascript"></script>
<script src="/javascripts/jquery.galleriffic.js?1337892747" type="text/javascript"></script>
<script src="/javascripts/jquery.history.js?1337892747" type="text/javascript"></script>
<script src="/javascripts/jquery.opacityrollover.js?1337892747" type="text/javascript"></script>
    <script src="/javascripts/jit-mod.js?1337892747" type="text/javascript"></script>
<script src="/javascripts/tree.js?1337892747" type="text/javascript"></script>
    
    <meta name="csrf-param" content="authenticity_token"/>
<meta name="csrf-token" content="eqMwTJeRK89xj2G+Q8Dt4IloDBfSzAmNvjNJuH4Lcc0="/>
  </head>
  <body class='home overview'>
    <div class="container">
      <div class="welcome span12">
  <ul class="nav"><li class="dropdown">
    <a href="#" class="settings" data-toggle="dropdown">Anjali Saqi<b class="caret"></b></a>
    <ul class="dropdown-menu pull-right">
      <li><a href="/users/33/edit">User Settings</a></li>
      <li><a href="/users/sign_out">Sign out</a></li>
    </ul>
  </li></ul>
</div>
<div id="header">
  <div class="pull-left">
    <h1><span style="color:navy;">Cyto</span><span style="color:skyblue;">Site</span></h1>
  </div>
  <div class="pull-right">
    <div class="clearfix"></div>
    <div id="menu" class="pull-right  span5">
  <ul>
      <li id ="contact_link"><a>Contact Us</a></li>
    <li id ="assessment_link" class="mail_item">
      <a href="http://cytosite.com/assessments" class="main_link">Assessments</a>
    </li>
    <li id ="image_link" class="mail_item"><a href="http://cytosite.com/images" class="main_link">Images</a></li>
    <li id ="overview_link" class="mail_item"><a href="http://cytosite.com/overview" class="main_link">Overview</a></li>
    <li id ="home_link" class="mail_item"><a href="http://cytosite.com/" class="main_link">Home</a></li>
  </ul>
</div>
  </div>
  <div class="clearfix"></div>
</div>
      <div class="box">
        <div class="clearfix"></div>
        <div class="container">
          <div class="side_padded">
            
            <h2>Overview</h2>
<p class="justify">CytoSite content has been categorized as per the following hierarchy:</p>
<div id="infovis"></div>
<br /><br /><br />
<div id="infovis1"></div>
  <script type="text/javascript">
    jQuery(document).ready(function(){
      var JSON = {"id": "node115","name": "Exfoliative","data": {"level":0, "code":"exfoliative"},"children": [{"id": "node116","name": "Gynecological","data": {"level":1, "code":"gyne"},"children": [{"id": "node117","name": "(Pre)neoplastic","data": {"level":2, "code":"neoplas"},"children": [{"id": "node118","name": "Squamous","data": {"level":3, "code":"squamous"},"children": []},{"id": "node119","name": "Glandular","data": {"level":3, "code":"glandular"},"children": []}]},{"id": "node120","name": "Non neo-plastic","data": {"level":2, "code":"non_plastic"},"children": []}]},{"id": "node121","name": "Non Gynecological","data": {"level":1, "code":"non_gyne"},"children": [{"id": "node122","name": "CSF","data": {"level":2, "code":"csf"},"children": []},{"id": "node123","name": "Fluids","data": {"level":2, "code":"fluids"},"children": []},{"id": "node124","name": "Gastrointestinal","data": {"level":2, "code":"gastric"},"children": []},{"id": "node125","name": "Respiratory","data": {"level":2, "code":"respiratory"},"children": []},{"id": "node126","name": "Urine","data": {"level":2, "code":"urine"},"children": []},{"id": "node127","name": "Oher","data": {"level":2, "code":"non_gyne_other"},"children": []}]}]};
      initTreeView(JSON, 400, 'infovis', 325);
      JSON = {"id": "node128","name": "Fine Needle Aspiration","data": {"level":0, "code":"needle"},"children": [{"id": "node129","name": "Adrenal","data": {"level":1, "code":"adrenal"},"children": []},{"id": "node130","name": "Bone & Soft Tissue","data": {"level":1, "code":"bone"},"children": []},{"id": "node131","name": "Breast","data": {"level":1, "code":"breast"},"children": []},{"id": "node132","name": "Gastrointestinal","data": {"level":1, "code":"needlegastric"},"children": []},{"id": "node133","name": "Genitourinary","data": {"level":1, "code":"geni"},"children": []},{"id": "node134","name": "Head and neck","data": {"level":1, "code":"head_neck"},"children": []},{"id": "node135","name": "Hematopoietic","data": {"level":1, "code":"hema"},"children": []},{"id": "node136","name": "Infections","data": {"level":1, "code":"infections"},"children": []},{"id": "node137","name": "Liver","data": {"level":1, "code":"liver"},"children": []},{"id": "node138","name": "Lung/ Mediastinum","data": {"level":1, "code":"lung"},"children": []},{"id": "node139","name": "Pancreas","data": {"level":1, "code":"pancreas"},"children": []},{"id": "node140","name": "Skin","data": {"level":1, "code":"skin"},"children": []},{"id": "node141","name": "Thyroid","data": {"level":1, "code":"thyroid"},"children": []},{"id": "node142","name": "Other","data": {"level":1, "code":"fna_other"},"children": []}]};
      initTreeView(JSON, 680, 'infovis1', 125);
    });

    jQuery('#overview_link a').addClass("selected");
  </script>

          </div>
        </div>
      </div>
      <div id="footer">
  <span>Copyright © 2010 Re-used with the permission of<strong> XYZ</strong>. All rights reserved.</span>
</div>
    </div>
  </body>
</html>
