<% provide(:title, @image.description) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <!--%= gravatar_for @image %-->
        <%= @image.description %>
        <%= @image.category %>
      </h1>
   </section>
  </aside>
</div>
